@import url(./assets/fonts/index.css);

:root {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app-container {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #b8bcc3;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}
